@font-face {
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Staatliches';
  font-weight: bold;
  src: url('../assets/fonts/Staatliches-Regular.ttf') format('truetype');
}

html,
body,
#canvas {
  --primary-color: #1ca1ce;
  --primary-color-dark: #0e5a6e;
  --border-radius: 0.3em;
  --basic-color: #dadada;
  --box-shadow: 0 0 20px 2px rgb(0 0 0 / 20%);
  --dark-color: #333;
  --light-color: #fff;
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body,
#canvas {
  background: #000;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Staatliches', cursive;
}

#canvas {
  outline: none;
}

#ui {
  font-family: 'Open Sans', sans-serif !important;
  position: absolute;
  top: 0;
  margin: 0 auto;
  height: 100%;
  width: 100%;
  pointer-events: none !important;
}

.emoji {
  vertical-align: middle;
  img {
    width: 1.5em;
    height: 1.5em;
  }
}

#ui > * {
  pointer-events: all !important;
}

.boat-name,
.challenge-button,
.canvas-positioned {
  position: absolute;
  top: 50%;
  left: 50%;
}

.boat-name {
  background: var(--dark-color);
  color: var(--light-color);
  border-radius: 50px;
  padding: 0.5em 1em;
}

.toast {
  padding: 1em 1em 2em;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  text-align: center;
  box-sizing: border-box;
  transition: transform 0.4s ease;
  transition-delay: 0.1s;
  transform: translateY(100%);

  &.visible {
    transform: translateY(0);
  }

  box-shadow: var(--box-shadow);
}

button,
input[type='button'],
input[type='submit'] {
  font-family: 'Open Sans', sans-serif !important;
  font-weight: 600;
  border: 0;
  border-radius: var(--border-radius);
  padding: 0.75em 1.5em;
  cursor: pointer;
  outline: none;
  background-color: var(--basic-color);
  -webkit-appearance: none;

  &.primary {
    background: var(--primary-color);
    color: #fff;

    &:hover &:focus {
      background: var(--primary-color-dark);
    }
  }
}

input {
  font-family: 'Open Sans', sans-serif !important;
  border: 1px solid var(--basic-color);
  border-radius: var(--border-radius);
  padding: 0.75em 1.5em;
  cursor: pointer;
  outline: none;
  background: #fff;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);

  .container {
    background-color: #fff;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    min-width: 75%;
    transform: translate(-50%, -50%);
    padding: 1.5em;
    border-radius: var(--border-radius);
  }
}

.login-modal {
  text-align: center;

  .emoji {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4em;
    border-radius: 50%;
    background: linear-gradient(0deg, #145494 0%, var(--primary-color) 100%);
    height: 2.5em;
    width: 2.5em;
    text-align: center;
    margin: 0 auto;

    img {
      height: 50%;
      padding-bottom: 10px;
    }
  }

  input {
    box-sizing: border-box;
    display: block;
    width: 100%;
  }

  input[type='text'] {
    margin-bottom: 1em;
  }
}

.challenge-button {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3em;
  width: 3em;
  font-size: 2em;
  padding: 0;

  background: #fff;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  outline: none;
  border: 0;
  box-shadow: var(--box-shadow);

  img {
    height: 65%;
    padding-top: 5px;
    padding-left: 5px;
  }
}

#game-container {
  padding: 1em;

  h2 {
    margin-top: 0;
  }

  button {
    background: var(--primary-color);
    color: var(--light-color);
    position: fixed;
    top: 1em;
    right: 1em;
  }
}
