html,
body,
#canvas {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

html,
body,
#canvas {
  background: #737373;
}

#canvas {
  outline: none;
}

#ui {
  position: absolute;
  top: 0;
  margin: 0 auto;
  height: 100vh;
  width: 100%;
  pointer-events: none !important;
}

#ui > * {
  pointer-events: all !important;
}

.boat-name,
.challenge-button {
  position: absolute;
  top: 50%;
  left: 50%;
}
